In [ ]:
!pip install --upgrade mxnet
!pip install autogluon

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting mxnet
  Downloading mxnet-1.9.1-py3-none-manylinux2014_x86_64.whl (49.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 49.1/49.1 MB 17.8 MB/s eta 0:00:00
Requirement already satisfied: numpy<2.0.0,>1.16.0 in /usr/local/lib/python3.10/dist-packages (from mxnet) (1.22.4)
Requirement already satisfied: requests<3,>=2.20.0 in /usr/local/lib/python3.10/dist-packages (from mxnet) (2.27.1)
Collecting graphviz<0.9.0,>=0.8.1 (from mxnet)
  Downloading graphviz-0.8.4-py2.py3-none-any.whl (16 kB)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2.20.0->mxnet) (1.26.15)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2.20.0->mxnet) (2022.12.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2.20.0->mxnet) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2.20.0->mxnet) (3.4)
Installing collected packages: graphviz, mxnet
  Attempting uninstall: graphviz
    Found existing installation: graphviz 0.20.1
    Uninstalling graphviz-0.20.1:
      Successfully uninstalled graphviz-0.20.1
Successfully installed graphviz-0.8.4 mxnet-1.9.1
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting autogluon
  Downloading autogluon-0.7.0-py3-none-any.whl (9.7 kB)
Collecting autogluon.core[all]==0.7.0 (from autogluon)
  Downloading autogluon.core-0.7.0-py3-none-any.whl (218 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 218.3/218.3 kB 7.9 MB/s eta 0:00:00
Collecting autogluon.features==0.7.0 (from autogluon)
  Downloading autogluon.features-0.7.0-py3-none-any.whl (60 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 60.1/60.1 kB 7.4 MB/s eta 0:00:00
Collecting autogluon.tabular[all]==0.7.0 (from autogluon)
  Downloading autogluon.tabular-0.7.0-py3-none-any.whl (292 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 292.2/292.2 kB 23.7 MB/s eta 0:00:00
Collecting autogluon.multimodal==0.7.0 (from autogluon)
  Downloading autogluon.multimodal-0.7.0-py3-none-any.whl (331 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 331.1/331.1 kB 34.2 MB/s eta 0:00:00
Collecting autogluon.timeseries[all]==0.7.0 (from autogluon)
  Downloading autogluon.timeseries-0.7.0-py3-none-any.whl (108 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 108.7/108.7 kB 13.2 MB/s eta 0:00:00
Requirement already satisfied: numpy<1.27,>=1.21 in /usr/local/lib/python3.10/dist-packages (from autogluon.core[all]==0.7.0->autogluon) (1.22.4)
Requirement already satisfied: scipy<1.12,>=1.5.4 in /usr/local/lib/python3.10/dist-packages (from autogluon.core[all]==0.7.0->autogluon) (1.10.1)
Requirement already satisfied: scikit-learn<1.3,>=1.0 in /usr/local/lib/python3.10/dist-packages (from autogluon.core[all]==0.7.0->autogluon) (1.2.2)
Collecting networkx<3.0,>=2.3 (from autogluon.core[all]==0.7.0->autogluon)
  Downloading networkx-2.8.8-py3-none-any.whl (2.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.0/2.0 MB 77.6 MB/s eta 0:00:00
Requirement already satisfied: pandas<1.6,>=1.4.1 in /usr/local/lib/python3.10/dist-packages (from autogluon.core[all]==0.7.0->autogluon) (1.5.3)
Requirement already satisfied: tqdm<5,>=4.38 in /usr/local/lib/python3.10/dist-packages (from autogluon.core[all]==0.7.0->autogluon) (4.65.0)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from autogluon.core[all]==0.7.0->autogluon) (2.27.1)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.10/dist-packages (from autogluon.core[all]==0.7.0->autogluon) (3.7.1)
Collecting boto3<2,>=1.10 (from autogluon.core[all]==0.7.0->autogluon)
  Downloading boto3-1.26.138-py3-none-any.whl (135 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 135.6/135.6 kB 18.0 MB/s eta 0:00:00
Collecting autogluon.common==0.7.0 (from autogluon.core[all]==0.7.0->autogluon)
  Downloading autogluon.common-0.7.0-py3-none-any.whl (45 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 45.0/45.0 kB 5.5 MB/s eta 0:00:00
Requirement already satisfied: hyperopt<0.2.8,>=0.2.7 in /usr/local/lib/python3.10/dist-packages (from autogluon.core[all]==0.7.0->autogluon) (0.2.7)
Collecting ray[tune]<2.3,>=2.2 (from autogluon.core[all]==0.7.0->autogluon)
  Downloading ray-2.2.0-cp310-cp310-manylinux2014_x86_64.whl (57.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 57.4/57.4 MB 12.3 MB/s eta 0:00:00
Collecting Pillow<9.6,>=9.3 (from autogluon.multimodal==0.7.0->autogluon)
  Downloading Pillow-9.5.0-cp310-cp310-manylinux_2_28_x86_64.whl (3.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.4/3.4 MB 93.7 MB/s eta 0:00:00
Collecting jsonschema<4.18,>=4.14 (from autogluon.multimodal==0.7.0->autogluon)
  Downloading jsonschema-4.17.3-py3-none-any.whl (90 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 90.4/90.4 kB 10.1 MB/s eta 0:00:00
Collecting seqeval<1.3.0,>=1.2.2 (from autogluon.multimodal==0.7.0->autogluon)
  Downloading seqeval-1.2.2.tar.gz (43 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 43.6/43.6 kB 5.4 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Collecting evaluate<0.4.0,>=0.2.2 (from autogluon.multimodal==0.7.0->autogluon)
  Downloading evaluate-0.3.0-py3-none-any.whl (72 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 72.9/72.9 kB 8.7 MB/s eta 0:00:00
Collecting accelerate<0.17,>=0.9 (from autogluon.multimodal==0.7.0->autogluon)
  Downloading accelerate-0.16.0-py3-none-any.whl (199 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 199.7/199.7 kB 18.0 MB/s eta 0:00:00
Collecting timm<0.7.0,>=0.6.12 (from autogluon.multimodal==0.7.0->autogluon)
  Downloading timm-0.6.13-py3-none-any.whl (549 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 549.1/549.1 kB 46.1 MB/s eta 0:00:00
Collecting torch<1.14,>=1.9 (from autogluon.multimodal==0.7.0->autogluon)
  Downloading torch-1.13.1-cp310-cp310-manylinux1_x86_64.whl (887.5 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 887.5/887.5 MB 1.9 MB/s eta 0:00:00
Collecting torchvision<0.15.0 (from autogluon.multimodal==0.7.0->autogluon)
  Downloading torchvision-0.14.1-cp310-cp310-manylinux1_x86_64.whl (24.2 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 24.2/24.2 MB 43.3 MB/s eta 0:00:00
Collecting fairscale<0.4.14,>=0.4.5 (from autogluon.multimodal==0.7.0->autogluon)
  Downloading fairscale-0.4.13.tar.gz (266 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 266.3/266.3 kB 29.8 MB/s eta 0:00:00
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Installing backend dependencies ... done
  Preparing metadata (pyproject.toml) ... done
Requirement already satisfied: scikit-image<0.20.0,>=0.19.1 in /usr/local/lib/python3.10/dist-packages (from autogluon.multimodal==0.7.0->autogluon) (0.19.3)
Collecting pytorch-lightning<1.10.0,>=1.9.0 (from autogluon.multimodal==0.7.0->autogluon)
  Downloading pytorch_lightning-1.9.5-py3-none-any.whl (829 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 829.5/829.5 kB 56.4 MB/s eta 0:00:00
Requirement already satisfied: text-unidecode<1.4,>=1.3 in /usr/local/lib/python3.10/dist-packages (from autogluon.multimodal==0.7.0->autogluon) (1.3)
Collecting torchmetrics<0.9.0,>=0.8.0 (from autogluon.multimodal==0.7.0->autogluon)
  Downloading torchmetrics-0.8.2-py3-none-any.whl (409 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 409.8/409.8 kB 37.3 MB/s eta 0:00:00
Collecting transformers<4.27.0,>=4.23.0 (from autogluon.multimodal==0.7.0->autogluon)
  Downloading transformers-4.26.1-py3-none-any.whl (6.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 6.3/6.3 MB 108.5 MB/s eta 0:00:00
Collecting nptyping<2.5.0,>=1.4.4 (from autogluon.multimodal==0.7.0->autogluon)
  Downloading nptyping-2.4.1-py3-none-any.whl (36 kB)
Collecting omegaconf<2.3.0,>=2.1.1 (from autogluon.multimodal==0.7.0->autogluon)
  Downloading omegaconf-2.2.3-py3-none-any.whl (79 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 79.3/79.3 kB 10.0 MB/s eta 0:00:00
Collecting sentencepiece<0.2.0,>=0.1.95 (from autogluon.multimodal==0.7.0->autogluon)
  Downloading sentencepiece-0.1.99-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.3/1.3 MB 71.5 MB/s eta 0:00:00
Collecting pytorch-metric-learning<2.0,>=1.3.0 (from autogluon.multimodal==0.7.0->autogluon)
  Downloading pytorch_metric_learning-1.7.3-py3-none-any.whl (112 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 112.2/112.2 kB 15.6 MB/s eta 0:00:00
Collecting nlpaug<1.2.0,>=1.1.10 (from autogluon.multimodal==0.7.0->autogluon)
  Downloading nlpaug-1.1.11-py3-none-any.whl (410 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 410.5/410.5 kB 44.7 MB/s eta 0:00:00
Requirement already satisfied: nltk<4.0.0,>=3.4.5 in /usr/local/lib/python3.10/dist-packages (from autogluon.multimodal==0.7.0->autogluon) (3.8.1)
Collecting openmim<0.4.0,>0.1.5 (from autogluon.multimodal==0.7.0->autogluon)
  Downloading openmim-0.3.7-py2.py3-none-any.whl (51 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 51.3/51.3 kB 6.8 MB/s eta 0:00:00
Requirement already satisfied: defusedxml<0.7.2,>=0.7.1 in /usr/local/lib/python3.10/dist-packages (from autogluon.multimodal==0.7.0->autogluon) (0.7.1)
Requirement already satisfied: jinja2<3.2,>=3.0.3 in /usr/local/lib/python3.10/dist-packages (from autogluon.multimodal==0.7.0->autogluon) (3.1.2)
Requirement already satisfied: tensorboard<3,>=2.9 in /usr/local/lib/python3.10/dist-packages (from autogluon.multimodal==0.7.0->autogluon) (2.12.2)
Collecting pytesseract<0.3.11,>=0.3.9 (from autogluon.multimodal==0.7.0->autogluon)
  Downloading pytesseract-0.3.10-py3-none-any.whl (14 kB)
Collecting catboost<1.2,>=1.0 (from autogluon.tabular[all]==0.7.0->autogluon)
  Downloading catboost-1.1.1-cp310-none-manylinux1_x86_64.whl (76.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 76.6/76.6 MB 10.0 MB/s eta 0:00:00
Requirement already satisfied: lightgbm<3.4,>=3.3 in /usr/local/lib/python3.10/dist-packages (from autogluon.tabular[all]==0.7.0->autogluon) (3.3.5)
Requirement already satisfied: xgboost<1.8,>=1.6 in /usr/local/lib/python3.10/dist-packages (from autogluon.tabular[all]==0.7.0->autogluon) (1.7.5)
Requirement already satisfied: fastai<2.8,>=2.3.1 in /usr/local/lib/python3.10/dist-packages (from autogluon.tabular[all]==0.7.0->autogluon) (2.7.12)
Requirement already satisfied: joblib<2,>=1.1 in /usr/local/lib/python3.10/dist-packages (from autogluon.timeseries[all]==0.7.0->autogluon) (1.2.0)
Requirement already satisfied: statsmodels<0.14,>=0.13.0 in /usr/local/lib/python3.10/dist-packages (from autogluon.timeseries[all]==0.7.0->autogluon) (0.13.5)
Collecting gluonts<0.13,>=0.12.0 (from autogluon.timeseries[all]==0.7.0->autogluon)
  Downloading gluonts-0.12.8-py3-none-any.whl (1.2 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.2/1.2 MB 65.0 MB/s eta 0:00:00
Collecting statsforecast<1.5,>=1.4.0 (from autogluon.timeseries[all]==0.7.0->autogluon)
  Downloading statsforecast-1.4.0-py3-none-any.whl (91 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 92.0/92.0 kB 8.5 MB/s eta 0:00:00
Collecting ujson<6,>=5 (from autogluon.timeseries[all]==0.7.0->autogluon)
  Downloading ujson-5.7.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (52 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 52.8/52.8 kB 6.7 MB/s eta 0:00:00
Collecting sktime<0.16,>=0.14 (from autogluon.timeseries[all]==0.7.0->autogluon)
  Downloading sktime-0.15.1-py3-none-any.whl (16.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 16.0/16.0 MB 78.4 MB/s eta 0:00:00
Collecting tbats<2,>=1.1 (from autogluon.timeseries[all]==0.7.0->autogluon)
  Downloading tbats-1.1.3-py3-none-any.whl (44 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 44.0/44.0 kB 5.5 MB/s eta 0:00:00
Collecting pmdarima<1.9,>=1.8.2 (from autogluon.timeseries[all]==0.7.0->autogluon)
  Downloading pmdarima-1.8.5-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.manylinux_2_24_x86_64.whl (1.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.4/1.4 MB 85.3 MB/s eta 0:00:00
Requirement already satisfied: psutil<6,>=5.7.3 in /usr/local/lib/python3.10/dist-packages (from autogluon.common==0.7.0->autogluon.core[all]==0.7.0->autogluon) (5.9.5)
Requirement already satisfied: setuptools in /usr/local/lib/python3.10/dist-packages (from autogluon.common==0.7.0->autogluon.core[all]==0.7.0->autogluon) (67.7.2)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.10/dist-packages (from accelerate<0.17,>=0.9->autogluon.multimodal==0.7.0->autogluon) (23.1)
Requirement already satisfied: pyyaml in /usr/local/lib/python3.10/dist-packages (from accelerate<0.17,>=0.9->autogluon.multimodal==0.7.0->autogluon) (6.0)
Collecting botocore<1.30.0,>=1.29.138 (from boto3<2,>=1.10->autogluon.core[all]==0.7.0->autogluon)
  Downloading botocore-1.29.138-py3-none-any.whl (10.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 10.8/10.8 MB 123.2 MB/s eta 0:00:00
Collecting jmespath<2.0.0,>=0.7.1 (from boto3<2,>=1.10->autogluon.core[all]==0.7.0->autogluon)
  Downloading jmespath-1.0.1-py3-none-any.whl (20 kB)
Collecting s3transfer<0.7.0,>=0.6.0 (from boto3<2,>=1.10->autogluon.core[all]==0.7.0->autogluon)
  Downloading s3transfer-0.6.1-py3-none-any.whl (79 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 79.8/79.8 kB 8.1 MB/s eta 0:00:00
Requirement already satisfied: graphviz in /usr/local/lib/python3.10/dist-packages (from catboost<1.2,>=1.0->autogluon.tabular[all]==0.7.0->autogluon) (0.8.4)
Requirement already satisfied: plotly in /usr/local/lib/python3.10/dist-packages (from catboost<1.2,>=1.0->autogluon.tabular[all]==0.7.0->autogluon) (5.13.1)
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from catboost<1.2,>=1.0->autogluon.tabular[all]==0.7.0->autogluon) (1.16.0)
Collecting datasets>=2.0.0 (from evaluate<0.4.0,>=0.2.2->autogluon.multimodal==0.7.0->autogluon)
  Downloading datasets-2.12.0-py3-none-any.whl (474 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 474.6/474.6 kB 49.5 MB/s eta 0:00:00
Collecting dill (from evaluate<0.4.0,>=0.2.2->autogluon.multimodal==0.7.0->autogluon)
  Downloading dill-0.3.6-py3-none-any.whl (110 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 110.5/110.5 kB 13.4 MB/s eta 0:00:00
Collecting xxhash (from evaluate<0.4.0,>=0.2.2->autogluon.multimodal==0.7.0->autogluon)
  Downloading xxhash-3.2.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (212 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 212.5/212.5 kB 26.2 MB/s eta 0:00:00
Collecting multiprocess (from evaluate<0.4.0,>=0.2.2->autogluon.multimodal==0.7.0->autogluon)
  Downloading multiprocess-0.70.14-py310-none-any.whl (134 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 134.3/134.3 kB 17.5 MB/s eta 0:00:00
Requirement already satisfied: fsspec[http]>=2021.05.0 in /usr/local/lib/python3.10/dist-packages (from evaluate<0.4.0,>=0.2.2->autogluon.multimodal==0.7.0->autogluon) (2023.4.0)
Collecting huggingface-hub>=0.7.0 (from evaluate<0.4.0,>=0.2.2->autogluon.multimodal==0.7.0->autogluon)
  Downloading huggingface_hub-0.14.1-py3-none-any.whl (224 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 224.5/224.5 kB 24.1 MB/s eta 0:00:00
Collecting responses<0.19 (from evaluate<0.4.0,>=0.2.2->autogluon.multimodal==0.7.0->autogluon)
  Downloading responses-0.18.0-py3-none-any.whl (38 kB)
Requirement already satisfied: pip in /usr/local/lib/python3.10/dist-packages (from fastai<2.8,>=2.3.1->autogluon.tabular[all]==0.7.0->autogluon) (23.1.2)
Requirement already satisfied: fastdownload<2,>=0.0.5 in /usr/local/lib/python3.10/dist-packages (from fastai<2.8,>=2.3.1->autogluon.tabular[all]==0.7.0->autogluon) (0.0.7)
Requirement already satisfied: fastcore<1.6,>=1.5.29 in /usr/local/lib/python3.10/dist-packages (from fastai<2.8,>=2.3.1->autogluon.tabular[all]==0.7.0->autogluon) (1.5.29)
Requirement already satisfied: fastprogress>=0.2.4 in /usr/local/lib/python3.10/dist-packages (from fastai<2.8,>=2.3.1->autogluon.tabular[all]==0.7.0->autogluon) (1.0.3)
Requirement already satisfied: spacy<4 in /usr/local/lib/python3.10/dist-packages (from fastai<2.8,>=2.3.1->autogluon.tabular[all]==0.7.0->autogluon) (3.5.2)
Requirement already satisfied: pydantic~=1.7 in /usr/local/lib/python3.10/dist-packages (from gluonts<0.13,>=0.12.0->autogluon.timeseries[all]==0.7.0->autogluon) (1.10.7)
Requirement already satisfied: toolz~=0.10 in /usr/local/lib/python3.10/dist-packages (from gluonts<0.13,>=0.12.0->autogluon.timeseries[all]==0.7.0->autogluon) (0.12.0)
Requirement already satisfied: typing-extensions~=4.0 in /usr/local/lib/python3.10/dist-packages (from gluonts<0.13,>=0.12.0->autogluon.timeseries[all]==0.7.0->autogluon) (4.5.0)
Requirement already satisfied: future in /usr/local/lib/python3.10/dist-packages (from hyperopt<0.2.8,>=0.2.7->autogluon.core[all]==0.7.0->autogluon) (0.18.3)
Requirement already satisfied: cloudpickle in /usr/local/lib/python3.10/dist-packages (from hyperopt<0.2.8,>=0.2.7->autogluon.core[all]==0.7.0->autogluon) (2.2.1)
Requirement already satisfied: py4j in /usr/local/lib/python3.10/dist-packages (from hyperopt<0.2.8,>=0.2.7->autogluon.core[all]==0.7.0->autogluon) (0.10.9.7)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.10/dist-packages (from jinja2<3.2,>=3.0.3->autogluon.multimodal==0.7.0->autogluon) (2.1.2)
Requirement already satisfied: attrs>=17.4.0 in /usr/local/lib/python3.10/dist-packages (from jsonschema<4.18,>=4.14->autogluon.multimodal==0.7.0->autogluon) (23.1.0)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in /usr/local/lib/python3.10/dist-packages (from jsonschema<4.18,>=4.14->autogluon.multimodal==0.7.0->autogluon) (0.19.3)
Requirement already satisfied: wheel in /usr/local/lib/python3.10/dist-packages (from lightgbm<3.4,>=3.3->autogluon.tabular[all]==0.7.0->autogluon) (0.40.0)
Requirement already satisfied: gdown>=4.0.0 in /usr/local/lib/python3.10/dist-packages (from nlpaug<1.2.0,>=1.1.10->autogluon.multimodal==0.7.0->autogluon) (4.6.6)
Requirement already satisfied: click in /usr/local/lib/python3.10/dist-packages (from nltk<4.0.0,>=3.4.5->autogluon.multimodal==0.7.0->autogluon) (8.1.3)
Requirement already satisfied: regex>=2021.8.3 in /usr/local/lib/python3.10/dist-packages (from nltk<4.0.0,>=3.4.5->autogluon.multimodal==0.7.0->autogluon) (2022.10.31)
Collecting antlr4-python3-runtime==4.9.* (from omegaconf<2.3.0,>=2.1.1->autogluon.multimodal==0.7.0->autogluon)
  Downloading antlr4-python3-runtime-4.9.3.tar.gz (117 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 117.0/117.0 kB 12.5 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Collecting colorama (from openmim<0.4.0,>0.1.5->autogluon.multimodal==0.7.0->autogluon)
  Downloading colorama-0.4.6-py2.py3-none-any.whl (25 kB)
Collecting model-index (from openmim<0.4.0,>0.1.5->autogluon.multimodal==0.7.0->autogluon)
  Downloading model_index-0.1.11-py3-none-any.whl (34 kB)
Requirement already satisfied: rich in /usr/local/lib/python3.10/dist-packages (from openmim<0.4.0,>0.1.5->autogluon.multimodal==0.7.0->autogluon) (13.3.4)
Requirement already satisfied: tabulate in /usr/local/lib/python3.10/dist-packages (from openmim<0.4.0,>0.1.5->autogluon.multimodal==0.7.0->autogluon) (0.8.10)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas<1.6,>=1.4.1->autogluon.core[all]==0.7.0->autogluon) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas<1.6,>=1.4.1->autogluon.core[all]==0.7.0->autogluon) (2022.7.1)
Requirement already satisfied: Cython!=0.29.18,>=0.29 in /usr/local/lib/python3.10/dist-packages (from pmdarima<1.9,>=1.8.2->autogluon.timeseries[all]==0.7.0->autogluon) (0.29.34)

In [ ]:
import pandas as pd
from autogluon.timeseries import TimeSeriesDataFrame, TimeSeriesPredictor

In [ ]:
df = pd.read_csv('superstoretrain.csv')
df.head()

  Order Date     Sales
0   06/01/14  2573.820
1   07/01/14    76.728
2   10/01/14    51.940
3   11/01/14     9.940
4   13/01/14   879.939

In [ ]:
df['Order Date'] = pd.to_datetime(df['Order Date'])
df = df.sort_values("Order Date")
df

    Order Date      Sales
18  2014-01-03  1893.9950
65  2014-01-06  2024.0600
102 2014-01-08    44.1280
158 2014-01-11   100.3840
180 2014-01-12  4513.6060
..         ...        ...
472 2016-12-05    10.0200
493 2016-12-06   433.3960
524 2016-12-08   917.2045
546 2016-12-09  1679.8720
588 2016-12-11  4158.3520

[614 rows x 2 columns]

In [ ]:
df.set_index(df["Order Date"], inplace=True)

In [ ]:
df = df.resample('D').fillna('ffill')

In [ ]:
df

           Order Date      Sales
Order Date
2014-01-03 2014-01-03  1893.9950
2014-01-04 2014-01-03  1893.9950
2014-01-05 2014-01-03  1893.9950
2014-01-06 2014-01-06  2024.0600
2014-01-07 2014-01-06  2024.0600
...               ...        ...
2016-12-07 2016-12-06   433.3960
2016-12-08 2016-12-08   917.2045
2016-12-09 2016-12-09  1679.8720
2016-12-10 2016-12-09  1679.8720
2016-12-11 2016-12-11  4158.3520

[1074 rows x 2 columns]

In [ ]:
df["item_id"] = 1
df

           Order Date      Sales  item_id
Order Date
2014-01-03 2014-01-03  1893.9950        1
2014-01-04 2014-01-03  1893.9950        1
2014-01-05 2014-01-03  1893.9950        1
2014-01-06 2014-01-06  2024.0600        1
2014-01-07 2014-01-06  2024.0600        1
...               ...        ...      ...
2016-12-07 2016-12-06   433.3960        1
2016-12-08 2016-12-08   917.2045        1
2016-12-09 2016-12-09  1679.8720        1
2016-12-10 2016-12-09  1679.8720        1
2016-12-11 2016-12-11  4158.3520        1

[1074 rows x 3 columns]

In [ ]:
df.describe()

              Sales  item_id
count   1074.000000   1074.0
mean     791.799918      1.0
std      972.006183      0.0
min        4.224000      1.0
25%      161.190000      1.0
50%      435.629500      1.0
75%     1108.561000      1.0
max    10006.174000      1.0

In [ ]:
df["Date"] = df.index

In [ ]:
df.set_index(df["item_id"], inplace = True)

In [ ]:
df.drop('Order Date', inplace=True, axis = 1)
df

             Sales  item_id       Date
item_id
1        1893.9950        1 2014-01-03
1        1893.9950        1 2014-01-04
1        1893.9950        1 2014-01-05
1        2024.0600        1 2014-01-06
1        2024.0600        1 2014-01-07
...            ...      ...        ...
1         433.3960        1 2016-12-07
1         917.2045        1 2016-12-08
1        1679.8720        1 2016-12-09
1        1679.8720        1 2016-12-10
1        4158.3520        1 2016-12-11

[1074 rows x 3 columns]

In [ ]:
train_data = TimeSeriesDataFrame.from_data_frame(
    df,
    id_column="item_id",
    timestamp_column="Date"
)
train_data.head()

                       Sales
item_id timestamp
1       2014-01-03  1893.995
        2014-01-04  1893.995
        2014-01-05  1893.995
        2014-01-06  2024.060
        2014-01-07  2024.060

In [ ]:
predictor = TimeSeriesPredictor(
    prediction_length=30,
    path="autogluon-m4-hourly",
    target="Sales",
    eval_metric="RMSE",
    # ignore_time_index=True
)

predictor.fit(
    train_data,
    presets="medium_quality",
    time_limit=600,
)

Warning: path already exists! This predictor may overwrite an existing predictor! path="autogluon-m4-hourly"
================ TimeSeriesPredictor ================
TimeSeriesPredictor.fit() called
Setting presets to: medium_quality
Fitting with arguments:
{'enable_ensemble': True,
 'evaluation_metric': 'RMSE',
 'hyperparameter_tune_kwargs': None,
 'hyperparameters': 'medium_quality',
 'prediction_length': 30,
 'random_seed': None,
 'target': 'Sales',
 'time_limit': 600}
Provided training data set with 1074 rows, 1 items (item = single time series). Average time series length is 1074.0.
Training artifacts will be saved to: /content/autogluon-m4-hourly
=====================================================
AutoGluon will save models to autogluon-m4-hourly/
AutoGluon will gauge predictive performance using evaluation metric: 'RMSE'
	This metric's sign has been flipped to adhere to being 'higher is better'. The reported score can be multiplied by -1 to get the metric value.

Provided dataset contains following columns:
	target:           'Sales'
tuning_data is None. Will use the last prediction_length = 30 time steps of each time series as a hold-out validation set.

Starting training. Start time is 2023-05-23 05:18:39
Models that will be trained: ['Naive', 'SeasonalNaive', 'ETS', 'Theta', 'ARIMA', 'AutoETS', 'AutoGluonTabular', 'DeepAR']
Training timeseries model Naive. Training for up to 599.96s of the 599.96s of remaining time.
	-2723.3460    = Validation score (-RMSE)
	0.00    s     = Training runtime
	0.05    s     = Validation (prediction) runtime
Training timeseries model SeasonalNaive. Training for up to 599.90s of the 599.90s of remaining time.
	-1464.1849    = Validation score (-RMSE)
	0.00    s     = Training runtime
	0.03    s     = Validation (prediction) runtime
Training timeseries model ETS. Training for up to 599.87s of the 599.87s of remaining time.
	-1279.7057    = Validation score (-RMSE)
	0.00    s     = Training runtime
	0.26    s     = Validation (prediction) runtime
Training timeseries model Theta. Training for up to 599.59s of the 599.59s of remaining time.
	-1206.4354    = Validation score (-RMSE)
	0.00    s     = Training runtime
	1.31    s     = Validation (prediction) runtime
Training timeseries model ARIMA. Training for up to 598.27s of the 598.27s of remaining time.
	-1063.4746    = Validation score (-RMSE)
	0.00    s     = Training runtime
	1.08    s     = Validation (prediction) runtime
Training timeseries model AutoETS. Training for up to 597.17s of the 597.17s of remaining time.
	-1118.7399    = Validation score (-RMSE)
	0.00    s     = Training runtime
	32.08   s     = Validation (prediction) runtime
Training timeseries model AutoGluonTabular. Training for up to 565.07s of the 565.07s of remaining time.
	-1046.8598    = Validation score (-RMSE)
	10.45   s     = Training runtime
	0.12    s     = Validation (prediction) runtime
Training timeseries model DeepAR. Training for up to 554.50s of the 554.50s of remaining time.
	-1157.0778    = Validation score (-RMSE)
	555.48  s     = Training runtime
	0.20    s     = Validation (prediction) runtime
Not fitting ensemble due to lack of time remaining. Time left: -1.22 seconds
Training complete. Models trained: ['Naive', 'SeasonalNaive', 'ETS', 'Theta', 'ARIMA', 'AutoETS', 'AutoGluonTabular', 'DeepAR']
Total runtime: 601.19 s
Best model: AutoGluonTabular
Best model score: -1046.8598

In [ ]:
predictions = predictor.predict(train_data)
predictions

INFO:lightning_fabric.utilities.seed:Global seed set to 123
Model not specified in predict, will default to the model with the best validation score: AutoGluonTabular

                           mean         0.1         0.2          0.3  \
item_id timestamp
1       2016-12-12   799.226987  300.102983  386.406269   484.726571
        2016-12-13   782.459376  283.335371  369.638658   467.958959
        2016-12-14   873.230844  374.106840  460.410126   558.730428
        2016-12-15   547.661276   48.537272  134.840558   233.160859
        2016-12-16   570.339584   71.215579  157.518866   255.839167
        2016-12-17   702.635909  203.511905  289.815191   388.135492
        2016-12-18   819.063592  319.939588  406.242874   504.563176
        2016-12-19   846.192478  347.068474  433.371760   531.692061
        2016-12-20  1172.601739  673.477734  759.781021   858.101275
        2016-12-21  1314.967391  815.843386  902.146625  1000.466927
        2016-12-22   878.164888  379.040883  465.344170   563.664471
        2016-12-23  1030.519446  531.395441  617.698728   716.019029
        2016-12-24   967.894292  468.770287  555.073574   653.393875
        2016-12-25   444.249583  -54.874421   31.428865   129.749167
        2016-12-26   818.135551  319.011546  405.314833   503.635134
        2016-12-27  1029.675317  530.551312  616.854599   715.174900
        2016-12-28  1156.080579  656.956575  743.259861   841.580210
        2016-12-29   749.578086  250.454081  336.757368   435.077669
        2016-12-30  1006.785953  507.661949  593.965235   692.285537
        2016-12-31   797.056019  297.932015  384.235301   482.555603
        2017-01-01  1041.898621  542.774616  629.077903   727.398204
        2017-01-02   897.794024  398.670019  484.973306   583.293607
        2017-01-03  1074.914039  575.790034  662.093321   760.413622
        2017-01-04   955.905358  456.781353  543.084640   641.404941
        2017-01-05   786.561938  287.437934  373.741220   472.061522
        2017-01-06   993.111405  493.987400  580.290687   678.610988
        2017-01-07   782.785587  283.661583  369.964869   468.285170
        2017-01-08   758.789266  259.665262  345.968548   444.288849
        2017-01-09   891.261393  392.137388  478.440675   576.760976
        2017-01-10   988.072211  488.948206  575.251493   673.571794

                            0.4          0.5          0.6          0.7  \
item_id timestamp
1       2016-12-12   570.481168   670.774172   813.401614  1043.170902
        2016-12-13   553.713557   654.006560   796.634002  1026.403291
        2016-12-14   644.485025   744.778029   887.405471  1117.174759
        2016-12-15   318.915434   419.208460   561.835950   791.605191
        2016-12-16   341.593741   441.886768   584.514257   814.283499
        2016-12-17   473.890090   574.183093   716.810583   946.579824
        2016-12-18   590.317773   690.610777   833.238219  1063.007507
        2016-12-19   617.446659   717.739663   860.367105  1090.136393
        2016-12-20   943.855920  1044.148876  1186.776365  1416.545654
        2016-12-21  1086.221572  1186.514528  1329.142017  1558.911306
        2016-12-22   649.419069   749.712072   892.339514  1122.108803
        2016-12-23   801.773627   902.066583  1044.694072  1274.463361
        2016-12-24   739.148473   839.441523   982.068918  1211.838207
        2016-12-25   215.503741   315.796768   458.424257   688.193498
        2016-12-26   589.389732   689.682735   832.310177  1062.079466
        2016-12-27   800.929498   901.222548  1043.849943  1273.619232
        2016-12-28   927.334761  1027.627811  1170.255206  1400.024494
        2016-12-29   520.832267   621.125270   763.752759   993.522001
        2016-12-30   778.040135   878.333185  1020.960580  1250.729868
        2016-12-31   568.310201   668.603204   811.230646  1040.999934
        2017-01-01   813.152802   913.445852  1056.073247  1285.842536
        2017-01-02   669.048205   769.341208   911.968650  1141.737939
        2017-01-03   846.168220   946.461176  1089.088665  1318.857954
        2017-01-04   727.159539   827.452495   970.079984  1199.849273
        2017-01-05   557.816120   658.109123   800.736565  1030.505854
        2017-01-06   764.365586   864.658542  1007.286031  1237.055320
        2017-01-07   554.039768   654.332771   796.960214  1026.729502
        2017-01-08   530.043400   630.336451   772.963940  1002.733134
        2017-01-09   662.515574   762.808577   905.436019  1135.205308
        2017-01-10   759.326392   859.619442  1002.246837  1232.016126

                            0.8          0.9
item_id timestamp
1       2016-12-12  1313.535024  1648.709992
        2016-12-13  1296.767412  1631.942380
        2016-12-14  1387.538881  1722.713943
        2016-12-15  1061.969313  1397.144281
        2016-12-16  1084.647620  1419.822588
        2016-12-17  1216.943946  1552.118914
        2016-12-18  1333.371629  1668.546597
        2016-12-19  1360.500515  1695.675388
        2016-12-20  1686.909776  2022.084744
        2016-12-21  1829.275427  2164.450395
        2016-12-22  1392.472924  1727.647892
        2016-12-23  1544.827482  1880.002450
        2016-12-24  1482.202328  1817.377202
        2016-12-25   958.557620  1293.732588
        2016-12-26  1332.443587  1667.618555
        2016-12-27  1543.983353  1879.158416
        2016-12-28  1670.388710  2005.563490
        2016-12-29  1263.886122  1599.061090
        2016-12-30  1521.093990  1856.268864
        2016-12-31  1311.364056  1646.539024
        2017-01-01  1556.206657  1891.381531
        2017-01-02  1412.102060  1747.277028
        2017-01-03  1589.222075  1924.397043
        2017-01-04  1470.213395  1805.388363
        2017-01-05  1300.869975  1636.044943
        2017-01-06  1507.419441  1842.594409
        2017-01-07  1297.093624  1632.268592
        2017-01-08  1273.097256  1608.272224
        2017-01-09  1405.569429  1740.744303
        2017-01-10  1502.380247  1837.555121

In [ ]:
predictor.leaderboard(train_data, silent=True)

Additional data provided, testing on additional data. Resulting leaderboard will be sorted according to test score (`score_test`).

,model,score_test,score_val,pred_time_test,pred_time_val,fit_time_marginal,fit_order
0,AutoGluonTabular,-1046.859762,-1046.859762,0.067663,0.119337,10.445405,7
1,ARIMA,-1063.474593,-1063.474593,0.011930,1.081861,0.001032,5
2,AutoETS,-1118.739939,-1118.739939,0.013009,32.083989,0.000889,6
3,DeepAR,-1143.660028,-1157.077789,0.165405,0.200054,555.484167,8
4,Theta,-1206.435371,-1206.435371,0.011926,1.314488,0.000926,4
5,ETS,-1279.705721,-1279.705721,0.012470,0.257980,0.000946,3
6,SeasonalNaive,-1464.184940,-1464.184940,0.012279,0.027915,0.000900,2
7,Naive,-2723.346024,-2723.346024,0.016600,0.046828,0.004521,1

In [ ]:
predictor.leaderboard()

              model    score_val  pred_time_val  fit_time_marginal  fit_order
0  AutoGluonTabular -1046.859762       0.119337          10.445405          7
1             ARIMA -1063.474593       1.081861           0.001032          5
2           AutoETS -1118.739939      32.083989           0.000889          6
3            DeepAR -1157.077789       0.200054         555.484167          8
4             Theta -1206.435371       1.314488           0.000926          4
5               ETS -1279.705721       0.257980           0.000946          3
6     SeasonalNaive -1464.184940       0.027915           0.000900          2
7             Naive -2723.346024       0.046828           0.004521          1

              model    score_val  pred_time_val  fit_time_marginal  fit_order
0  AutoGluonTabular -1046.859762       0.119337          10.445405          7
1             ARIMA -1063.474593       1.081861           0.001032          5
2           AutoETS -1118.739939      32.083989           0.000889          6
3            DeepAR -1157.077789       0.200054         555.484167          8
4             Theta -1206.435371       1.314488           0.000926          4
5               ETS -1279.705721       0.257980           0.000946          3
6     SeasonalNaive -1464.184940       0.027915           0.000900          2
7             Naive -2723.346024       0.046828           0.004521          1

In [ ]:
predictor.fit_summary()

****************** Summary of fit() ******************
Estimated performance of each model:
              model    score_val  pred_time_val  fit_time_marginal  fit_order
0  AutoGluonTabular -1046.859762       0.119337          10.445405          7
1             ARIMA -1063.474593       1.081861           0.001032          5
2           AutoETS -1118.739939      32.083989           0.000889          6
3            DeepAR -1157.077789       0.200054         555.484167          8
4             Theta -1206.435371       1.314488           0.000926          4
5               ETS -1279.705721       0.257980           0.000946          3
6     SeasonalNaive -1464.184940       0.027915           0.000900          2
7             Naive -2723.346024       0.046828           0.004521          1
Number of models trained: 8
Types of models trained:
{'ThetaModel', 'SeasonalNaiveModel', 'AutoGluonTabularModel', 'NaiveModel', 'ETSModel', 'AutoETSModel', 'ARIMAModel', 'DeepARModel'}
****************** End of fit() summary ******************

{'model_types': {'Naive': 'NaiveModel',
  'SeasonalNaive': 'SeasonalNaiveModel',
  'ETS': 'ETSModel',
  'Theta': 'ThetaModel',
  'ARIMA': 'ARIMAModel',
  'AutoETS': 'AutoETSModel',
  'AutoGluonTabular': 'AutoGluonTabularModel',
  'DeepAR': 'DeepARModel'},
 'model_performance': {'Naive': -2723.3460239630417,
  'SeasonalNaive': -1464.1849402089122,
  'ETS': -1279.7057209599202,
  'Theta': -1206.4353705714188,
  'ARIMA': -1063.4745925948764,
  'AutoETS': -1118.739938703811,
  'AutoGluonTabular': -1046.8597623751168,
  'DeepAR': -1157.0777888961095},
 'model_best': 'AutoGluonTabular',
 'model_paths': {'Naive': 'autogluon-m4-hourly/models/Naive/',
  'SeasonalNaive': 'autogluon-m4-hourly/models/SeasonalNaive/',
  'ETS': 'autogluon-m4-hourly/models/ETS/',
  'Theta': 'autogluon-m4-hourly/models/Theta/',
  'ARIMA': 'autogluon-m4-hourly/models/ARIMA/',
  'AutoETS': 'autogluon-m4-hourly/models/AutoETS/',
  'AutoGluonTabular': 'autogluon-m4-hourly/models/AutoGluonTabular/',
  'DeepAR': 'autogluon-m4-hourly/models/DeepAR/'},
 'model_fit_times': {'Naive': 0.00452113151550293,
  'SeasonalNaive': 0.0009002685546875,
  'ETS': 0.0009458065032958984,
  'Theta': 0.0009262561798095703,
  'ARIMA': 0.001031637191772461,
  'AutoETS': 0.000888824462890625,
  'AutoGluonTabular': 10.445404529571533,
  'DeepAR': 555.4841668605804},
 'model_pred_times': {'Naive': 0.04682755470275879,
  'SeasonalNaive': 0.027914762496948242,
  'ETS': 0.2579803466796875,
  'Theta': 1.314488172531128,
  'ARIMA': 1.0818612575531006,
  'AutoETS': 32.08398938179016,
  'AutoGluonTabular': 0.11933684349060059,
  'DeepAR': 0.20005369186401367},
 'model_hyperparams': {'Naive': {},
  'SeasonalNaive': {},
  'ETS': {},
  'Theta': {},
  'ARIMA': {},
  'AutoETS': {},
  'AutoGluonTabular': {},
  'DeepAR': {'context_length': 60}},
 'leaderboard':               model    score_val  pred_time_val  fit_time_marginal  fit_order
 0  AutoGluonTabular -1046.859762       0.119337          10.445405          7
 1             ARIMA -1063.474593       1.081861           0.001032          5
 2           AutoETS -1118.739939      32.083989           0.000889          6
 3            DeepAR -1157.077789       0.200054         555.484167          8
 4             Theta -1206.435371       1.314488           0.000926          4
 5               ETS -1279.705721       0.257980           0.000946          3
 6     SeasonalNaive -1464.184940       0.027915           0.000900          2
 7             Naive -2723.346024       0.046828           0.004521          1}

In [ ]:
!zip -r /content/file.zip /content/autogluon-m4-hourly

  adding: content/autogluon-m4-hourly/ (stored 0%)
  adding: content/autogluon-m4-hourly/utils/ (stored 0%)
  adding: content/autogluon-m4-hourly/utils/data/ (stored 0%)
  adding: content/autogluon-m4-hourly/utils/data/val.pkl (deflated 47%)
  adding: content/autogluon-m4-hourly/utils/data/train.pkl (deflated 47%)
  adding: content/autogluon-m4-hourly/learner.pkl (deflated 55%)
  adding: content/autogluon-m4-hourly/predictor.pkl (deflated 30%)
  adding: content/autogluon-m4-hourly/models/ (stored 0%)
  adding: content/autogluon-m4-hourly/models/trainer.pkl (deflated 53%)
  adding: content/autogluon-m4-hourly/models/ETS/ (stored 0%)
  adding: content/autogluon-m4-hourly/models/ETS/model.pkl (deflated 28%)
  adding: content/autogluon-m4-hourly/models/AutoGluonTabular/ (stored 0%)
  adding: content/autogluon-m4-hourly/models/AutoGluonTabular/metadata.json (deflated 67%)
  adding: content/autogluon-m4-hourly/models/AutoGluonTabular/utils/ (stored 0%)
  adding: content/autogluon-m4-hourly/models/AutoGluonTabular/utils/data/ (stored 0%)
  adding: content/autogluon-m4-hourly/models/AutoGluonTabular/utils/data/y_val.pkl (deflated 22%)
  adding: content/autogluon-m4-hourly/models/AutoGluonTabular/utils/data/X.pkl (deflated 96%)
  adding: content/autogluon-m4-hourly/models/AutoGluonTabular/utils/data/X_val.pkl (deflated 77%)
  adding: content/autogluon-m4-hourly/models/AutoGluonTabular/utils/data/y.pkl (deflated 42%)
  adding: content/autogluon-m4-hourly/models/AutoGluonTabular/utils/attr/ (stored 0%)
  adding: content/autogluon-m4-hourly/models/AutoGluonTabular/utils/attr/XGBoost/ (stored 0%)
  adding: content/autogluon-m4-hourly/models/AutoGluonTabular/utils/attr/XGBoost/y_pred_proba_val.pkl (deflated 5%)
  adding: content/autogluon-m4-hourly/models/AutoGluonTabular/utils/attr/CatBoost/ (stored 0%)
  adding: content/autogluon-m4-hourly/models/AutoGluonTabular/utils/attr/CatBoost/y_pred_proba_val.pkl (deflated 5%)
  adding: content/autogluon-m4-hourly/models/AutoGluonTabular/utils/attr/LightGBM/ (stored 0%)
  adding: content/autogluon-m4-hourly/models/AutoGluonTabular/utils/attr/LightGBM/y_pred_proba_val.pkl (deflated 5%)
  adding: content/autogluon-m4-hourly/models/AutoGluonTabular/model.pkl (deflated 75%)
  adding: content/autogluon-m4-hourly/models/AutoGluonTabular/learner.pkl (deflated 75%)
  adding: content/autogluon-m4-hourly/models/AutoGluonTabular/predictor.pkl (deflated 30%)
  adding: content/autogluon-m4-hourly/models/AutoGluonTabular/models/ (stored 0%)
  adding: content/autogluon-m4-hourly/models/AutoGluonTabular/models/trainer.pkl (deflated 55%)
  adding: content/autogluon-m4-hourly/models/AutoGluonTabular/models/WeightedEnsemble_L2/ (stored 0%)
  adding: content/autogluon-m4-hourly/models/AutoGluonTabular/models/WeightedEnsemble_L2/utils/ (stored 0%)
  adding: content/autogluon-m4-hourly/models/AutoGluonTabular/models/WeightedEnsemble_L2/utils/oof.pkl (deflated 22%)
  adding: content/autogluon-m4-hourly/models/AutoGluonTabular/models/WeightedEnsemble_L2/utils/model_template.pkl (deflated 48%)
  adding: content/autogluon-m4-hourly/models/AutoGluonTabular/models/WeightedEnsemble_L2/model.pkl (deflated 36%)
  adding: content/autogluon-m4-hourly/models/AutoGluonTabular/models/XGBoost/ (stored 0%)
  adding: content/autogluon-m4-hourly/models/AutoGluonTabular/models/XGBoost/model.pkl (deflated 52%)
  adding: content/autogluon-m4-hourly/models/AutoGluonTabular/models/XGBoost/xgb.ubj (deflated 72%)
  adding: content/autogluon-m4-hourly/models/AutoGluonTabular/models/CatBoost/ (stored 0%)
  adding: content/autogluon-m4-hourly/models/AutoGluonTabular/models/CatBoost/model.pkl (deflated 57%)
  adding: content/autogluon-m4-hourly/models/AutoGluonTabular/models/LightGBM/ (stored 0%)
  adding: content/autogluon-m4-hourly/models/AutoGluonTabular/models/LightGBM/model.pkl (deflated 62%)
  adding: content/autogluon-m4-hourly/models/AutoGluonTabular/__version__ (stored 0%)
  adding: content/autogluon-m4-hourly/models/DeepAR/ (stored 0%)
  adding: content/autogluon-m4-hourly/models/DeepAR/model.pkl (deflated 48%)
  adding: content/autogluon-m4-hourly/models/DeepAR/gluon_ts/ (stored 0%)
  adding: content/autogluon-m4-hourly/models/DeepAR/gluon_ts/parameters.json (deflated 39%)
  adding: content/autogluon-m4-hourly/models/DeepAR/gluon_ts/type.txt (deflated 17%)
  adding: content/autogluon-m4-hourly/models/DeepAR/gluon_ts/version.json (deflated 18%)
  adding: content/autogluon-m4-hourly/models/DeepAR/gluon_ts/prediction_net_state (deflated 10%)
  adding: content/autogluon-m4-hourly/models/DeepAR/gluon_ts/prediction_net.json (deflated 55%)
  adding: content/autogluon-m4-hourly/models/DeepAR/gluon_ts/input_transform.json (deflated 81%)
  adding: content/autogluon-m4-hourly/models/SeasonalNaive/ (stored 0%)
  adding: content/autogluon-m4-hourly/models/SeasonalNaive/model.pkl (deflated 51%)
  adding: content/autogluon-m4-hourly/models/ARIMA/ (stored 0%)
  adding: content/autogluon-m4-hourly/models/ARIMA/model.pkl (deflated 30%)
  adding: content/autogluon-m4-hourly/models/Naive/ (stored 0%)
  adding: content/autogluon-m4-hourly/models/Naive/model.pkl (deflated 32%)
  adding: content/autogluon-m4-hourly/models/Theta/ (stored 0%)
  adding: content/autogluon-m4-hourly/models/Theta/model.pkl (deflated 28%)
  adding: content/autogluon-m4-hourly/models/AutoETS/ (stored 0%)
  adding: content/autogluon-m4-hourly/models/AutoETS/model.pkl (deflated 36%)

In [ ]:
from google.colab import files
files.download("/content/file.zip")

In [ ]:
# train_data.tail()
len(predictions)

30

In [ ]:
import matplotlib.pyplot as plt


df2 = pd.read_csv('superstoretest.csv')

df2['timestamp'] = pd.to_datetime(df2['Order Date'])
# df2.set_index(df['Order Date'], inplace=True)

df2

     item_id Order Date      Sales  timestamp
0          1   12/12/16   477.4700 2016-12-12
1          1   13/12/16  1114.2720 2016-12-13
2          1   14/12/16   611.7240 2016-12-14
3          1   15/12/16  2231.8950 2016-12-15
4          1   16/12/16   563.9200 2016-12-16
..       ...        ...        ...        ...
270        1   24/12/17  1393.4940 2017-12-24
271        1   25/12/17   832.4540 2017-12-25
272        1   28/12/17   551.2568 2017-12-28
273        1   29/12/17  2330.7180 2017-12-29
274        1   30/12/17   323.1360 2017-12-30

[275 rows x 4 columns]

In [ ]:
df2.set_index(df2['timestamp'], inplace=True)

In [ ]:
df2

            item_id Order Date      Sales  timestamp
timestamp
2016-12-12        1   12/12/16   477.4700 2016-12-12
2016-12-13        1   13/12/16  1114.2720 2016-12-13
2016-12-14        1   14/12/16   611.7240 2016-12-14
2016-12-15        1   15/12/16  2231.8950 2016-12-15
2016-12-16        1   16/12/16   563.9200 2016-12-16
...             ...        ...        ...        ...
2017-12-24        1   24/12/17  1393.4940 2017-12-24
2017-12-25        1   25/12/17   832.4540 2017-12-25
2017-12-28        1   28/12/17   551.2568 2017-12-28
2017-12-29        1   29/12/17  2330.7180 2017-12-29
2017-12-30        1   30/12/17   323.1360 2017-12-30

[275 rows x 4 columns]

In [ ]:
df.drop('Order Date', inplace = True, axis = 1)

In [ ]:
# df2.set_index(df['timestamp'], inplace=True)

In [ ]:
df2 = df2.resample('D').fillna('ffill')

In [ ]:
df2.set_index(df["item_id"], inplace = True)

ValueError: ignored

In [ ]:
df2.drop("item_id", axis = 1)

In [ ]:
predictions.index = pd.to_datetime(predictions.index)

In [ ]:
y_past.head(10)

In [ ]:
predictions

In [ ]:
y_test

In [ ]:

# TimeSeriesDataFrame can also be loaded directly from a file
test_data = TimeSeriesDataFrame.from_data_frame(
    df,
    id_column="item_id",
    timestamp_column="timestamp"
)
plt.figure(figsize=(20, 3))

item_id = 1
y_past = train_data.loc[item_id]["Sales"]
y_pred = predictions.loc[item_id]
y_test = test_data.loc[item_id]["Sales"][:70]

plt.plot(y_past[-200:], label="Past time series values")
plt.plot(y_pred["0.9"], label="Mean forecast")
plt.plot(y_test, label="Future time series values")

# plt.fill_between(
#     y_pred.index, y_pred["0.1"], y_pred["0.9"], color="red", alpha=0.1, label=f"10%-90% confidence interval"
# )
plt.legend();

In [ ]:
predictions.to_csv

In [ ]:
predictor.leaderboard(test_data, silent=True)